@page "/Game/Details/{Id:int}"
@using GameReviewing.Models
@using GameReviewing.Components

<h1>@ThisGame.Title</h1>
<img src="@ThisGame.ImagePath" />




<div class="reviews">
    <GameReviewing.Components.ReviewGameComponent Game="ThisGame" OnReviewAdded="(() => StateHasChanged())" />
    <h4>Reviews</h4>
    @foreach (Review review in ThisGame.GetReviews())
    {
        <ReviewRenderer Review="review" Game="ThisGame" />
    }
</div>