@page "/Game/Add"
@page "/Game/Edit/{Id:int}"

    <EditForm EditContext="EditContext" OnSubmit="OnSubmit">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label>Title:</label>
            <div>
                <InputText class="form-control" placeholder="Title" @bind-Value="@Game.Title" />
                <ValidationMessage For="@(() => Game.Title)" />
            </div>
        </div>
        <div class="form-group">
            <label>Image:</label>
            <div>
                <input @ref="InputElement" type="file" accept=".jfif, .jpg" @onchange="ImageSelected" />
                <ValidationMessage For="@(() => Game.Picture)" />
            </div>
            @if(!string.IsNullOrWhiteSpace(ImageBase64))
            {
                <img src="data:image/jfif;base64, @ImageBase64" style="width: 400px;" />
            }
        </div>
        @if (Adding)
        {
            <button class="btn btn-primary" type="submit">Add Game</button>
        }
        else
        {
            <button class="btn btn-primary" type="submit">Save changes</button>
        }

    </EditForm>