<div class="reviewStarGraph" style="display: flex;">
    @for (int i = 0; i < 5; i++)
    {
        if (Rating >= 1)
        {
            Rating--;
            <Star Percentage="100" />
        }
        else
        {
            <Star Percentage="Rating * 100"/>
            Rating = 0;
        }
    }
</div>