<div class="Review" style="display:flex;">
    <div>
        <img src="content/images/Apex Legends-285x380.jpg" style="max-width: 60px; max-height: 60px;" />
    </div>
    <div>
        <div>
            @Review.UserUsername
        </div>
        <div>
            217 594 Elite '20
        </div>
        <div>
            Wrote a review for @Game.Title
        </div>
    </div>
    <div>
        @Review.Description
    </div>
</div>