<div class="reviewStarGraph" style="display: flex;">
    <Star Percentage="100" />
    <Star Percentage="100" />
    <Star Percentage="100" />
    <Star Percentage="100" />
    <Star Percentage="10" />
</div>