<div class="Review" style="display:flex;">
    <div>
        <img src="content/images/Apex Legends-285x380.jpg" style="max-width: 60px; max-height: 60px;" />
    </div>
    <div>
        <div>
            @Review.UserUsername
        </div>
    </div>
    <div>
        <ReviewStarGraph Rating="Review.Rating" Max="5"/>
        @Review.Description
    </div>
</div>