<div class="star" style="position: relative; width:50px; height: 50px; border: 1px solid black;">
    <div style="background-color: yellow; width: @(Percentage)%; height: 50px; margin-bottom: 1px;"></div>
    <span class="oi oi-star" style="position: absolute; top: 15px; left: 15px;"></span>
</div>

@code {

}
