@if (Parent.AutocompleteDropdownItemTemplate != null)
{
    <div style="@HoveredCSS">
        @Parent.AutocompleteDropdownItemTemplate(Self)
        @MyIndex
    </div>
}
else
{
    <div style="@HoveredCSS">@Self.Title</div>
}