@using Models

<div style="display: flex; align-items: center; margin-left: 5px; border-left: 2px solid black; padding-left: 5px;">
    Filter:
    <div style="position: relative;">
        <input @bind="SearchParameter" @bind:event="oninput" type="text" @onfocusin="FocusIn" @onfocusout="FocusOut" @onkeydown="OnKeyDown"/>
        @if (DisplayAutocompleteDropdown && ToggleAutocompleteDropdown)
        {
            <div style="position: absolute; z-index: 1; background-color: lightgray; width: 100%;">
                @{int i = 0;}
                @foreach (Game game in AutocompleteResults)
                {
                    <TypeaheadAutocompleteDropdownItem Self="game" Parent="this" MyIndex="i++"/>
                }
            </div>
        }
    </div>
</div>  